// -- Mina typsnitt --
// Google typsnitt -- Sacramento och Montserrat

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap");

// $font-family-sans-serif: "Sacramento", sans-serif;
$heading-font-family: "Sacramento";
$body-font-family: "Montserrat", sans-serif;
$font-family-sans-serif: "Montserrat", sans-serif;

// $bs-navbar-brand-font-size: 1.5rem;

//Line height
$line-height-base: 1.7;

// Marginal botten efter rubrik
$headings-margin-bottom: $spacer * 1;

.display-2 {
	margin-bottom: 1rem;
	font-family: $body-font-family;

	&--heading {
		// display: inline-block;
		font-size: 5rem;
		font-family: $heading-font-family;
	}

	&--title {
		font-size: 4rem;
		// text-transform: capitalize;
		font-family: $heading-font-family;
	}

	&--rubrik {
		font-size: 3rem;
		font-family: $heading-font-family;
	}

	&-- &--introduction {
		font-family: $body-font-family;
		font-size: 2rem;
		line-height: 2.8rem;
		display: block;
	}

	&--description {
		font-size: 1.5rem;
		line-height: 2rem;
		display: block;
	}
}

.display-3 {
	font-family: $body-font-family;

	// &--title {
	// 	font-size: 1.2rem;
	// 	text-transform: capitalize;
	// 	font-weight: 600;
	// 	font-family: $heading-font-family;
	// 	display: inline-block;
	// 	background-image: linear-gradient(to right, $primary, $secondary);
	// 	background-clip: text;
	// }
}
