// Mina knappar

$button-radius: 50px;

$btn-border-radius: $button-radius;
$btn-border-radius-sm: $button-radius;
$btn-border-radius-lg: $button-radius;

$navbar-toggler-border-radius: 5px;

// Tillbaka knappen
.back-to-top {
	position: fixed;
	width: 3rem;
	height: 3rem;
	right: 1.875rem;
	bottom: 1.875rem;
	z-index: 9999;
}
