/* Kod skriven av Christina Näsström för examinationsuppgift 3 i avancerad webbutveckling med html och css, projektet färdigt den 2024-06-27 */

// -- Mina typsnitt --

// Google typsnitt -- Sacramento och Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap");

$heading-font-family: "Sacramento";
$body-font-family: "Montserrat", sans-serif;
$font-family-sans-serif: "Montserrat", sans-serif;

// Rubrik typsnitt
.heading-font {
	font-family: $heading-font-family;
}

// Brödtext typsnitt
.body-font {
	font-family: $body-font-family;
}

// Storlek på typsnitt
// Ändrad och utökad typsnitts storlek
$display-font-sizes: (
	1: 5rem,
	2: 4.5rem,
	3: 4rem,
	4: 3.5rem,
	5: 3rem,
	6: 2.5rem,
	7: 2rem,
	8: 1.5rem,
) !default;

//Line height
// Ändring  av radhöjden
$line-height-sm: 1.7;
$line-height-base: 2;
$line-height-lg: 2.8;

// Marginal botten efter rubrik
$headings-margin-bottom: $spacer * 1;
