/* Kod skriven av Christina Näsström för examinationsuppgift 3 i avancerad webbutveckling med html och css, projektet färdigt den 2024-06-27 */

//Mina färger
$orange: #fd7e14; //--bs-orange #fd7e14 var(--bs-orange)
$indigo: #6610f2; //Indigo #6610f2 var(--bs-indigo)
$guld: #d4af37;
$silver: #c0c0c0;
$brons: #cd7f32;

// Lägger in mina färg val i färgtemat
$theme-colors: (
	"primary": $orange,
	"secondary": $indigo,
);

// Create your own map
// Lägger in mina färger som inte finns i bootstraps färger i färgtemat
$custom-colors: (
	"guld": $guld,
	"silver": $silver,
	"brons": $brons,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Färger som skall användas vid darkt tema
.custom-element {
	@include color-scheme(dark) {
		// Insert dark mode styles here
		// "primary":$secondary,"secondary": $primary;
	}

	@include color-scheme(custom-named-scheme) {
		// Insert custom color scheme styles here
	}
}

// Färger som skall användas i gradienten
$color-gradient-start: $primary;
$color-gradient-end: $secondary;

.gradient-bg {
	@include gradient-background($color-gradient-start, $color-gradient-end);
}
