//Mina färger
$primary: #fd7e14; //--bs-orange #fd7e14 var(--bs-orange)
$secondary: #6610f2; //Indigo #6610f2 var(--bs-indigo)
$guld: #d4af37;
$silver: #c0c0c0;
$brons: #cd7f32;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
);

// Create your own map
$custom-colors: (
	"guld": $guld,
	"silver": $silver,
	"brons": $brons,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

.custom-element {
	@include color-scheme(dark) {
		// Insert dark mode styles here
		// "primary":$secondary,"secondary": $primary;
	}

	@include color-scheme(custom-named-scheme) {
		// Insert custom color scheme styles here
	}
}

//
$color-gradient-start: $primary;
$color-gradient-end: $secondary;

.gradient-bg {
	@include gradient-background($color-gradient-start, $color-gradient-end);
}
