// Mina variabler

// Färger
$primary: #fd7e14; //--bs-orange
$secondary: #6f42c1; //purple

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
);

$color-gradient-start: $primary;
$color-gradient-end: $secondary;
