// Mina variabler

// Färger
$primary: #fd7e14; //--bs-orange
// $secondary: #6f42c1; //purple
$secondary: #6610f2; //Indigo
// $secondary: #ffc107; //Gul
// $secondary: #dc3545; //Röd
// $secondary: #d63384; //Rosa
// $secondary: #adb5bd; //Grå

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
);

$color-gradient-start: $primary;
$color-gradient-end: $secondary;
