// Mina knappar

$button-radius: 50px;
// $button-padding-x: 10px;
// $button-padding-y: 10px;

$btn-border-radius: $button-radius;
$btn-border-radius-sm: $button-radius;
$btn-border-radius-lg: $button-radius;

// $btn-font-family: $heading-font-family;
// $btn-font-weight:
// $btn-padding-x: $button-padding-x;
// $btn-padding-x-sm: $button-padding-x;
// $btn-padding-x-lg: $button-padding-x;
// $btn-padding-y: $button-padding-y;
// $btn-padding-y-sm: $button-padding-y;
// $btn-padding-y-lg: $button-padding-y;
$navbar-toggler-border-radius: 5px;

// Tillbaka knappen
.back-to-top {
	background-color: $primary;
	position: fixed;
	width: 3rem;
	height: 3rem;
	right: 1.875rem;
	bottom: 1.875rem;
	z-index: 9999;

	i {
		color: white;
		font-size: 1rem;
		// @include absoluteCenter;
	}
}

// .btn-rounded {
// 	// position: relative;
// 	padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
// 	// font-weight: 700;
// 	margin: 0;
// 	border: 0.1rem solid rgba($light, 0.6);
// 	background-color: $light;

// 	display: block;

// 	span {
// 		// position: absolute;
// 		// background-color: $primary;

// 		width: 2.5rem;
// 		height: 2.5rem;
// 		// top: 50%;

// 		// right: 5px;
// 		transform: translateY(-50%);
// 		border-radius: 50%;

// 		i {
// 			color: $light;
// 			font-size: 1rem;
// 			line-height: 2.5rem;
// 		}
// 	}
// }

// .hero-section {
// 	// position: relative;
// 	padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
// 	// font-weight: 700;
// 	margin: 0;
// 	border: 0.1rem solid rgba(white, 0.6);
// 	background-color: white;
// 	// display: block;

// 	span {
// 		// position: absolute;
// 		background-color: $primary;
// 		width: 2.5rem;
// 		height: 2.5rem;
// 		top: 50%;
// 		right: 5px;
// 		transform: translateY(-50%);
// 		border-radius: 50%;

// 		i {
// 			color: white;
// 			font-size: 1rem;
// 			line-height: 2.5rem;
// 		}
// 	}
// }
// &:hover {
// 	// @include gradient;
// 	color: white;
// }

// Knapp  till toppen
